<section>
  <h1 class="font-bold text-4xl">Tasks</h1>
  <div data-controller="presentation">
    <div class="mb-2">
      <!-- TODO: how do i make chiclets without making crud actions -->
      <input name="filter" type="text" class="border-2 border-amber-600" data-presentation-target="filter">
      <button data-action="click->presentation#filter" data-filter-value="pet-supply-card">filter by...</button>
      <button data-action="click->presentation#clearAllFilters">clear all filters</button>
    </div>
    <% @tasks.each do |pet_name, tasks| %>
      <%= render partial: "task", locals: { pet_name: pet_name, tasks: tasks } %>
    <% end %>
  </div>
</section>
